@model IEnumerable<LiveNetworkDocumentation.Models.Manategh>

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-lg-1 col-xs-1"></div>
    <div class="col-lg-10 col-xs-10">
        <h2>لیست مناطق</h2>
    </div>
    <div class="col-lg-1 col-xs-1"></div>
</div>

<div class="row">
    <div class="col-lg-1 col-xs-1"></div>
    <div class="col-lg-10 col-xs-10">
        <table class="table table-bordered table-hover table-striped table-fit-to-content" dir="rtl">
            <thead>
                <tr class="bg-success text-primary">
                    <th class="text-center">شاخص منطقه</th>
                    <th class="text-center">نام منطقه</th>
                    <th class="text-center">شهر</th>
                    <th class="text-center">آدرس</th>
                    <th class="text-center">پیش شماره تلفن</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var mantaghe in Model)
                {
                    <tr>
                        <td class="text-center">@mantaghe.Shakhes</td>
                        <td class="text-center">@Html.ActionLink(mantaghe.Name, "Edit", "Manategh", new { id = mantaghe.Id }, new { @class = "", data_toggle = "tooltip", title = "ویرایش" })</td>
                        <td class="text-center">@mantaghe.CityCenter</td>
                        <td class="text-center">@mantaghe.Address</td>
                        <td class="text-center">@mantaghe.PreTelCode</td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="col-lg-1 col-xs-1"></div>
</div>
